<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>services</key>
	<array>
		<dict>
			<key>class</key>
			<string>VTHttpService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTHttpAPITask</string>
			</array>
			<key>timeout</key>
			<integer>20</integer>
			<key>allowShowNetworkStatus</key>
			<true/>
		</dict>
		<dict>
			<key>class</key>
			<string>VTHttpService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTHttpResourceTask</string>
			</array>
			<key>timeout</key>
			<integer>300</integer>
			<key>maxThreadCount</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>class</key>
			<string>VTHttpService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTHttpUploadTask</string>
			</array>
			<key>timeout</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>class</key>
			<string>VTHttpService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTHttpTask</string>
			</array>
			<key>timeout</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>class</key>
			<string>VTImageService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTImageTask</string>
				<string>IVTLocalImageTask</string>
			</array>
			<key>timeout</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>class</key>
			<string>VTAPIService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTAPICancelTask</string>
				<string>IVTAPIRequestTask</string>
			</array>
			<key>timeout</key>
			<integer>20</integer>
		</dict>
	</array>
	<key>ui</key>
	<dict>
		<key>root</key>
		<dict>
			<key>class</key>
			<string>VTNavigationController</string>
			<key>navbar-hidden</key>
			<true/>
		</dict>
		<key>main</key>
		<dict>
			<key>class</key>
			<string>___VARIABLE_classPrefix___ViewController</string>
		</dict>
	</dict>
	<key>url</key>
	<string>nav:///root/main</string>
</dict>
</plist>
